* {
    font-family: Lobster;
    font-weight: 100;
}

.Main-Class_h1_1 {
    display: inline;
}

.Main-Class_h1_2 {
    display: inline;
}

.Main-Class_p_1 {
    height: 250px;
    width: 250px;
}

.Main-Class_h1_3 {
    padding: 20px;
}

.Main-Class_p_2 {
    background-color: rgb(25, 231, 231);
    padding: 10px 30px;
}
.Main-Class_p_3{
    background-color: rgb(56, 227, 37);
    padding: 10px 20px 30px 40px;
}
.Main-Class_p_4{
    background-color: rgb(217, 42, 199);
    padding:10px 20px 30px 40px;
    height: 200px;
    width: 500px;
    box-sizing: border-box;
    text-align: center;

}

.Main-class_b_1{
    font-size: 2em;
    padding: 10px;
    margin: 20px;
    background-color:rgb(230, 153, 48);
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px;

}
.Main-class_b_2{
    font-size: 2em;
    padding: 10px;
    margin: 20px;
    background-color: rgb(74, 145, 95);
    border-radius: 10px;
    text-shadow: 2px 2px 5px;
}
.Main-class_b_3{
    display: inline-block;
    font-size: 2em;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    background-color:#4d8c0f;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px;
    transform: rotate(45deg);

}
